# Ignore node_modules
**/node_modules/

# Ignore Angular dist build
**/dist/

# Ignore build and temp files from Visual Studio
**/bin/
**/obj/
**/.vs/

# Ignore user secrets or environment config
**/appsettings.Development.json
